
            body {
            margin: 0;
            padding: 0;
            background: #0055000;
        }
        
        #container {
            margin: auto;
            width: 924px;
            height: 650px;
            text-align: center;
            background: #f0f0f0;
        }
        
        #webglCanvas {
            float: left;
            width: 512px;
            padding: 0 20px 0px 20px;
           
        }
        
        #gl-canvas {
            border: 1px solid #fcfcfc;
        }
        
        
        #controls-side { 
        float: left;
          width : 72px;
          height: 512px;
          background: #dddeff;
         }
          
          #controls-main {
            float: left;
            width : 300px;
            height: 512px;
            background: #dddeff;
          }
       
        h1 {
            font-size: 24px;
            font-family: Ariel, Verdana, San-serif;
            padding: 24px;
            color: #44a;
        }
 
      #red, #green, #blue, #lineWidth {
            float: right;
            clear: left;
            width: 275px;
            margin: 15px;
      }
  
      .labels{
          height: 40px;
          font-weight: bold;
          color: #44a;
      }
      .labelsg{
          margin-top: -10px;
          height: 48px;
          font-weight: bold;
          color: #44a;
      }
      button#clearCanvas {
     
      font-weight: bold;
      font-family: Arial, Verdana, san-serif;
      }
      
  .top { margin : 15px; }
 

  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }