body {
	padding: 0;
	margin: 0;
    background: #777;
}
#container {
	margin: 0;
	width : 1200px;
	height: 650px;
	background: #aaa;
}
#webglCanvas {
	float: left;
	width: 800px;
	padding: 0;
}
#controls {
	float: left;
	width: 380px;
	height: 650px;
	margin-left: 20px;
	background: #aaa;
}
p {
	padding: 5px;
	text-align: left;
	color: #44a;
}

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
}

h1 {
	font-size: 20px;
	font-family: Helvetica, San-serif;
	color: #ececec;
    
}

h3 {
margin : 0px 0 5px 0;
}
h3.secondary {
margin-top: 10px;
}

#gl-canvas {
	border: 1px solid #000000;
}

#ui { 
	float: left;
	width:300px;
}

#objbox {
	border-radius: 15px;
	border: 2px solid #999;
	padding: 10px;
	width: 275px;
    background: #eee;
   
}
#transbox {
	border-radius: 15px;
	border: 2px solid #999;
	padding: 10px;
	width: 275px;
	height: 120px;
      background: #eee;
}

#rotbox {
	border-radius: 15px;
	border: 2px solid #999;
	padding: 10px;
	width: 275px;
	height: 120px;
      background: #eee;
}
#scalbox {
	border-radius: 15px;
	border: 2px solid #999;
	padding: 10px;
	width: 275px;
	height: 120px;
      background: #eee;
}

#shapeSelector {  }
#modeSelector { margin-bottom: 10px; }

.btn {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}

.lightbtn {
  padding:5px;
  background-color: rgb(0,149,239);
  border: 1px solid #666;
  color:#fff;
  text-decoration:none;
}

#transX, #transY, #transZ, 
#rotX, #rotY, #rotZ,
#scaleX, #scaleY, #scaleZ 
{
  width: 160px;
  position: relative;
  margin: 18px;
  border: 0;
  height: 2px;
  background: #959799;
  outline: none;
}

#transX .ui-slider-handle,
 #transY .ui-slider-handle,
 #transZ .ui-slider-handle,
 #rotX .ui-slider-handle,
 #rotY .ui-slider-handle,
 #rotZ .ui-slider-handle,
 #scaleX .ui-slider-handle,
 #scaleY .ui-slider-handle,
 #scaleZ .ui-slider-handle
 {
  position: absolute;
  margin: -3px 0 0 -7px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 0;
  height: 14px;
  width: 14px;
  outline: none;
  cursor: pointer;
}

#transX  .ui-slider-handle:hover,
#transX  .ui-slider-handle:focus, 
#transY  .ui-slider-handle:hover,
#transY  .ui-slider-handle:focus,
#transZ  .ui-slider-handle:hover,
#transZ  .ui-slider-handle:focus ,
#rotX  .ui-slider-handle:hover,
#rotX  .ui-slider-handle:focus,
#rotY  .ui-slider-handle:hover,
#rotY  .ui-slider-handle:focus,
#rotZ  .ui-slider-handle:hover,
#rotZ  .ui-slider-handle:focus,
#scaleX  .ui-slider-handle:hover,
#scaleX .ui-slider-handle:focus,
#scaleY   .ui-slider-handle:hover,
#scaleY  .ui-slider-handle:focus,
#scaleZ  .ui-slider-handle:hover,
#scaleZ  .ui-slider-handle:focus
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}



#transX  #transXVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color:  #292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#transY  #transYVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: ##292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#transZ #transZVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#rotX  #rotXVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color:  #292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#rotY  #rotYVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color:  #292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}
#rotZ  #rotZVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color:  #292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#scaleX  #scaleXVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: ##292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}
#scaleY  #scaleYVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: ##292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}
#scaleZ  #scaleZVal {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: ##292c2f;
  width: 160px;
  text-align: center;
  margin-left: 120px;
  margin-top: -5px;
}

#panel{
 background: #eee;
}
#mySelect { margin-left:175px; }

.clabel { 
margin-left:  -20px;
 }